@charset "UTF-8";
/* --------------------------------
 * article
 * -------------------------------- */
/* article item の大きさを指定 */
.item-article {
  width: 100% /* びよーんと伸び縮みしたい */;
  margin-left: 4px /* ヘッダーとの隙間をあける */;
  padding: 40px /* ボックス内の余白を普通の item より広くとる */;
}
@media (max-width: 768px) {
  .item-article {
    margin-left: 0 /* 縦並びにするので、左横の margin はいらない */;
    word-wrap: break-word /* 幅が狭いので、単語内でも折り返しを許可する */;
    padding: 40px 8px;
  }
}
.date {
  display: block;
  font-size: 2rem;
  color: #777;
}
.title {
  margin: 20px 0 20px;
  color: #aaa;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.4;
  font-family: "Sawarabi Mincho", "Hiragino Kaku Gothic ProN", sans-serif;
}
@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }
}
/* タイトル左横の円 */
.title::before {
  content: ''; /* before擬似要素を表示するために指定 */
  display: inline-block; /* 円の横幅と高さを指定したいので。横並び。 */
  width: 38px;
  height: 38px;
  margin-right: 8px;
  border: 3px solid;
  border-radius: 50%; /* 50%で円になる */
  vertical-align: -3px; /* 縦方向の位置調整 */
}
@media (max-width: 768px) {
  .title::before {
    width: 30px;
    height: 30px;
    vertical-align: -4px;
  }
}
.category > a {
  display: inline-block;
  padding: 6px 10px 6px;
  border-radius: 5px;
  color: #777; /* a 要素の中はリンクテキストとして文字色が変わってしまうので、文字色を指定しなおす。 */
  transition: all 0.3s; /* 0.3秒かけてスムーズに変わるように指定 */
  box-shadow: 0 0 8px -1px rgba(0,0,0,0.3); /* ボックスの周りに影を落とす */
}
.category > a:hover {
  opacity: 0.8; /* ハイライトのような効果 */
  background: #777;
  color: #fff;
}
.category {
  font-size: 2rem;
}
.text {
  margin-top: 6.6rem;
  line-height: 1.9;
  font-size: 1.6rem;
  font-family: "Sawarabi Mincho", "Hiragino Kaku Gothic ProN", sans-serif;
}
.text h1,
.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
  font-weight: 700;
  line-height: 1.5;
  margin-top: 2.2em;
  margin-bottom: 2.4rem;
}
.text h1 {
  font-size: 2.8rem;
  border-bottom: 1px solid #aaa;
  padding-bottom: 0.1em;
}
.text h2 {
  font-size: 2.2rem;
  border-bottom: 1px dotted #aaa;
  padding-bottom: 0.1em;
}
.text h3 {
  font-size: 2rem;
}
/* list */
.text ul,
.text ol {
  margin: 16px 0;
  padding-left: 40px;
}
.text li {
  list-style-type: disc;
}
.text li li {
  list-style-type: circle;
}
.text li li li {
  list-style-type: square;
}
.text li li li li {
  list-style-type: disc;
}
.text .arabic li {
  list-style-type: decimal;
}
.text .arabic li li {
  list-style-type: disc;
}
.text a:hover {
  opacity: 0.5; /* ハイライトのような効果 */
  transition: all 0.3s;
}
.text .code-block {
  overflow: auto; /* スクロールバー: はみ出したら出す */
  white-space: pre-wrap; /* 連続する空白はそのまま残されます。行の折り返しは、改行文字や <br> 要素のあるときか、行ボックスを埋めるのに必要なときに行います。 */
  line-height: 1.3;
  font-size: 2rem;
  margin: 1.6rem 0 1.6rem;
  padding: 0 32px;
  background: #364549;
  color: #f8f8f2;
  max-height: 600px;
}
.text .literal-block {
  overflow: auto; /* スクロールバー: はみ出したら出す */
  white-space: pre-wrap; /* 連続する空白はそのまま残されます。行の折り返しは、改行文字や <br> 要素のあるときか、行ボックスを埋めるのに必要なときに行います。 */
  line-height: 1.3;
  font-size: inherit;
  font-family: inherit;
  margin: 1.6rem 0 1.6rem;
  padding: 1em 32px;
  border-radius: 2px;
  background-color: #fef4f4;
  color: #777;
  max-height: 600px;
}
.text .docutils {
  padding: 1px 3px;
  border-radius: 2px;
  background-color: #fef4f4;
  color: #777;
}
.text cite {
  padding: 1px 3px;
  border-radius: 2px;
  background-color: #ffffdb;
  color: #777;
}
.text .figure img {
  width: 100%;
  height: 100%;
}
/* TODO: あといるもの */
/*
  - テーブルの CSS 書きたい
  - web master 登録?
*/
