@charset "UTF-8";

html {
    font-size: 62.5%;
}
body {
    color: #333;
    font-size: 1.2rem;  /* rem: CSS3から。 root 要素の font-size を 1 とした倍率を指定する。 */
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
*, *::before, *::after {  /* `*`: 全称セレクタといい、すべての要素を表す。 */
    box-sizing: border-box;
}
/* リンクの下線を外す */
a:link, a:visited, a:hover, a:active {
    color: #d03c56;
    text-decoration: none;
}

.header {
    width: 100%;
    padding: 28px 0 10px;
    background: url("/static/images/bg-header.gif") repeat-x;
    box-shadow: 0 0 10px 1px #e3e3e3;
}
.logo {
    width: 225px;
    height: 56px;
    margin: 0 auto;  /* 中央寄せ */
    background: url("/static/images/logo.png") no-repeat;
    overflow: hidden;       /* テキストを表示しない */
    text-indent: 100%;      /* テキストを表示しない */
    white-space: nowrap;    /* テキストを表示しない */
}
.logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.global-nav {
    margin-top: 15px;
    text-align: center;
}
.global-nav .nav-item {
    display: inline-block;  /* 横に並ぶようにする */
    margin: 0 10px;
}
.global-nav .nav-item a {
    display: inline-block;  /* 横に並ぶようにする */
    width: 100px;
    height: 30px;
    line-height: 30px;      /* テキストの縦方向の中央寄せ */
    text-align: center;
    border-radius: 8px;     /* ボックスの角を丸める */
    color: #666666;
    font-size: 1.3rem;
    letter-spacing: 1px;    /* 文字の間隔を指定 */
    transition: 0.15s;      /* スタイルの変化にかかる時間を指定 */
}
.global-nav .nav-item.active a,  /* nav-item と active の両方のクラスがついた a */
.global-nav .nav-item a:hover {  /* `;hover` その要素にホバーしたとき */
    background-color: #d03c56;
    color: #FFFFFF;
}

/* 子要素分の高さを持たせる */
.clearfix::after {  /* 擬似要素 */
    content: '';
    display: block;
    clear: both;
}
.wrapper {
    width: 970px;
    margin: 30px auto 40px;
}

/* main 領域 */
.main {
    display: block;
    float: left;  /* float プロパティを使用した要素は親要素の高さに影響を与えなくなってしまう */
    width: 660px;
}
.hidden {
    display: none;
}

/* 特集コンテンツ */
.hot-topic {
    display: block;  /* ブロックレベルの要素として扱えるようにする */
    height: 300px;
    margin-bottom: 30px;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15);  /* 透明度15% */
    transition: opacity 0.15s;  /* ふわっとさせる */
}
.hot-topic:hover {
    opacity: 0.85;  /* 不透明度を少し下げ透過させる。すこし光ったように見えるらしい。 */
}
.hot-topic .image {
    float: left;
    width: 50%;
    height: 100%;
}
.hot-topic .content {
    position: relative;  /* 親要素に `position: relative` を指定しておく */
    float: left;
    width: 50%;
    height: 100%;
    padding: 105px 25px 0;
    background-color: #2d3d54;
    line-height: 1.6;
}
.hot-topic .title {
    margin-bottom: 15px;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 2.0rem;
}
.hot-topic .desc {
    color: #ddc;
}
.hot-topic .date {
    position: absolute;  /* 表示位置を見出しの上部に移動 */
    top: 60px;
    left: 0;  /* `position: absolute` で配置する場合には親要素の padding の影響を受けないため、ぴったり左端に配置できる。 */
    width: 140px;
    padding: 4px;
    background-color: #FFFFFF;
    color: #2d3d54;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1;
}
.heading {
    padding: 10px 12px;
    background: url("/static/images/bg-slash.gif");
    letter-spacing: 1px;
    font-size: 1.6rem;
}
.scroll-list {
    max-height: 220px;      /* 中の要素が少ない場合にはその高さに合わせて親要素の高さも縮む */
    overflow-y: auto;       /* はみ出た領域を縦方向にスクロールして見ることができる */
    margin-bottom: 30px;
    list-style-type: none;  /* デフォルトで表示されるリストマークを消す */
}
.scroll-list .scroll-item a {
    display: block;     /* リスト項目全体をリンク領域にする */
    padding: 10px 15px;
    color: #333333;
    font-size: 0;       /* 改行 => 半角スペースのサイズを 0 にする */
    transition: background-color 0.1s;
}
.scroll-list .scroll-item:nth-of-type(even) a {         /* 要素名:nth-of-type(n) で「同じ階層の n 番目の要素」 */
    background: url("/static/images/bg-slash.gif");     /* 偶数行のリスト項目にストライプの背景 */
}
.scroll-list .scroll-item a:hover {
    background-color: #fafaf8;
}
.scroll-list .date {
    display: inline-block;  /* 横並び */
    width: 19%;             /* スクロールバーが表示されてリストの横幅が変わっても横並びを維持できるよう、親要素に対する割合で指定 */
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.0rem;      /* 親要素で `font-size: 0` を指定したので font-size を指定し直す */
}
.scroll-list .category {
    display: inline-block;
    width: 8%;
    border-radius: 5px;
    background-color: #d03c56;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.0rem;
    line-height: 16px;
}
.scroll-list .category.news {
    background-color: #2c3c53;
}
.scroll-list .title {
    display: inline-block;
    width: 73%;
    padding-left: 15px;
    font-size: 1.2rem;
    /* この3つはセットで覚える */
    overflow: hidden;           /* 親要素をはみ出た部分を非表示にする */
    text-overflow: ellipsis;    /* 表示領域からはみ出て見えなくなるテキストの境目の表示方法を指定(...) */
    white-space: nowrap;        /* 親要素をはみ出た部分を折り返し禁止 */
}
.article-box {
    position: relative;
    display: block;  /* a要素なので `display: block` を指定してから幅を指定する*/
    width: 315px;
    height: 360px;
    margin-bottom: 30px;
    padding: 210px 15px 0;
    box-shadow: 6px 6px 8px -4px rgba(0, 0, 0, 0.15);
    transition: opacity 0.15s;
}
.article-box:hover {
    opacity: 0.8;
}
.article-box:nth-of-type(odd) {  /* 偶数個目の記事 */
    float: left;
}
.article-box:nth-of-type(even) {/* 奇数個目の記事 */
    float: right;
}
.article-box .title {
    margin-top: 30px;
    color: #555555;
    font-size: 1.4rem;
    line-height: 1.6;
}
.article-box .desc {
    margin-top: 5px;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.article-box .date {
    position: absolute;
    right: 0;
    bottom: 15px;
    display: block;
    width: 160px;
    padding: 4px;
    background-color: #b5d264;
    color: #2d3d54;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.1rem;
}
.article-box .image {
    position: absolute;  /* 左上に寄せる */
    top: 0;
    left: 0;
    width: 100%;
}

.sidemenu {
    float: right;
    width: 275px;
}


.footer {
    width: 100%;
}
