<!DOCTYPE html>
<html lang="{{ page.lang }}">

  <head>
    <meta charset="{{ page.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{{ page.title }}/{{ page.site_title }}</title>
    <link rel="shortcut icon" href="/static/icons/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Griffy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/reset.css?20181021">
    <link rel="stylesheet" href="/static/css/style.css?20181022">
    {% block head %}{% endblock head %}
  </head>

  <body>
    <div class="container">
      <div class="header">{% include "/header.html" %}</div>
      <div class="main">{% block main %}{% endblock main %}</div>
    </div>
  </body>

</html>
