<header class="header item item-header">
  <h1>
    <a href="/">
      <i class="logo fas fa-bomb"></i>
    </a>
  </h1>
  <nav class="nav">
    <ul>
      <li class="nav-category"><a href="/">HOME</a></li>
      {% set items = contents.group_items(group='category') %}
      {% for categories, articles in items %}
        {% set category = ', '.join(categories) %}
        <li class="nav-category"><a href="/index_category_category_{{ category }}.html">{{ category }}</a>
          <ul>
            {% for article in articles %}
              <li class="nav-article">
                <a href="{{ article.path() }}">{{ article.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>