{% extends "./base.html" %}

{% block main %}
  {% for article in articles %}
    {% if loop.first %}
      {% set item_size = 'item-l' %}
    {% elif loop.index is divisibleby(3) %}
      {% set item_size = 'item-m' %}
    {% else %}
      {% set item_size='' %}
    {% endif %}
    <section class="item {{ item_size }} item-{{ article.category }}">
      <a href="{{ article.path() }}">
        <div class="image">
          <img src="/static/images/grid-layout/labrador.png" alt="犬">
        </div>
        <div class="title">{{ article.title }}</div>
        <p class="category">
          {{ article.category }}
        </p>
        <time class="date" datetime="{{ article.date }}">
          {{ article.date.strftime('%Y-%m-%d %a') }}
        </time>
      </a>
    </section>
  {% endfor %}
{% endblock main %}
