{% extends "./base.html" %}

{% block main %}
  {# 中くらいの箱: 更新履歴リスト #}
  <section class="item item-l item-maindish">
    <a href="#">
      <div class="image">
        {# TODO: シングルLの背景画像が動かないやつやりたい #}
        <img src="/static/images/grid-layout/shibutouge.png" alt="横手山">
      </div>
      <div class="title">MAIN DISH</div>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidiunt ut labore magna aliqua
      </p>
    </a>
  </section>

  {% for article in articles %}
    {% if loop.index is divisibleby(3) %}
      {% set item_size = 'item-m' %}
    {% else %}
      {% set item_size='' %}
    {% endif %}
    <section class="item {{ item_size }} item-{{ article.category }}"><!-- sectionタグ: ボックスごとのまとまりを明示的に区切ることができる -->
      <a href="{{ article.path() }}">
        <div class="image">
          <img src="/static/images/grid-layout/labrador.png" alt="犬">
        </div>
        <div class="title">{{ article.title }}</div>
        <p class="category">
          {{ article.category }}
        </p>
        <time class="date" datetime="{{ article.date }}">
          {{ article.date.strftime('%Y-%m-%d %a') }}
        </time>
      </a>
    </section>
  {% endfor %}

<!-- CDNからライブラリを読み込み -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.js"></script>
  <script>
    $('#container').imagesLoaded(function(){
        // 画像読み込みが完了したら、Masonryする
        new Masonry(
          // 親要素のセレクタを指定
            'body', {
                itemSelector: '.item',  // ボックス要素のセレクタ
                columnWidth: 180,       // グリッドの横幅
                gutter: 4               // 左右のボックスとの間隔。上下の間隔はCSSで指定する必要がある。
            }
        )
    });
  </script>
{% endblock main %}






