{% extends "./base.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/grid-layout/article.css?20180603">
{% endblock head %}

{% block main %}
  <main class="item item-article item-{{ page.category }}">
    <time class="date" datetime="{{ page.date }}">
      {{ content.date.strftime('%Y-%m-%d %a') }}
    </time>
    <div class="title">{{ content.title }}</div>
    <div class="category">
      <a href="/index_category_category_{{ page.category }}.html">
          {{ content.category }}
      </a>
    </div>
    <div class="text">
      {{ content.html }}
      <a href="#">リンクだよ</a>
    </div>
  </main>
{% endblock main %}
