{% extends "./base.html" %}

{% block main %}

<h2 class="hidden">HOT TOPIC</h2>
  <a href="{{ articles[0].path(article) }}" class="hot-topic clearfix">
    <img class="image" src="/static/images/retriever.png" alt="コーディング画面">
    <div class="content">
      <h3 class="title">{{ articles[0].title }}</h3>
      <p class="desc">{{ articles[0].category }}</p>
      <time class="date" datetime="{{ articles[0].date }}">
        {{ articles[0].date.strftime('%Y-%m-%d %a') }}
      </time>
    </div>
  </a>

  <h2 class="heading">NEWS</h2>
  <ul class="scroll-list">
    {% for article in articles %}
      <li class="scroll-item">
        <a href="{{ article.path(article) }}">
          <time class="date" datetime="{{ article.date }}">
            {{ article.date.strftime('%Y-%m-%d %a') }}
          </time>
          <span class="category news">{{ article.category }}</span>
          <span class="title">{{ article.title }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>

  <h2 class="hidden">ARTICLES</h2>
  <div class="clearfix">
    {% for article in articles %}
    <a href="{{ article.path(article) }}" class="article-box">
      <h3 class="title">{{ article.title }}</h3>
        <p class="desc">{{ article.category }}</p>
      <time class="date" datetime="{{ article.date }}">
        {{ article.date.strftime('%Y-%m-%d %a') }}
      </time>
      <img class="image" src="/static/images/labrador.png" alt="コーディング画面">
    </a>
    {% endfor %}
  </div>

{% endblock main %}






