<h2 class="heading">RANKING</h2>
<ol class="ranking"><!-- ol: 順序に意味のあるリスト -->
  {% set articles = contents.get_contents() %}
  {% for article in articles %}
    <li class="ranking-item">
      <a href="{{ article.path(article) }}">
        <img class="image" src="/static/images/retriever.png" alt="ランキングの画像">
        <span class="order"></span>
        <p class="text">{{ article.title }}</p>
      </a>
    </li>
  {% endfor %}
</ol>

<h2 class="heading">DOCUMENTS</h2>
<ul class="documents">
  {% set items = contents.group_items(group='category') %}
  {% for categories, articles in items %}
    <li>
      <h3 class="title">{{ ', '.join(categories) }}</h3>
      <ul><!-- li要素の中になら別のul要素を配置することができる -->
        {% for article in articles %}
          <li>
            <img class="image" src="/static/images/retriever.png" alt="ドキュメンツの画像">
            <a href="{{ article.path(article) }}">{{ article.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>

<h2 class="hidden">SEARCH</h2>
<form class="search-box">
  <input class="search-input" type="text" name="search" placeholder="SEARCH">
  <input class="search-button" type="submit" value="検索">
  <p class="text">サイト内の文章を検索できます。</p>
</form>
