<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>シングルページレイアウト</title>
  <link rel="stylesheet" href="/static/css/singlepage_layout/normalize.css">
  <link rel="stylesheet" href="/static/css/singlepage_layout/style.css?20180519">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
</head>
<body>
  <header class="header">
    <p class="site-title-sub">Web designer's portfolio</p>
    <h1 class="site-title">HI, MY NAME IS...</h1>
    <p class="site-description">Check out some of my works.</p>
    <div class="buttons">
      <a class="button" href="#about">LEARN MORE</a>
      <a class="button button-showy" href="#contact">SEND MESSAGE</a>
    </div>
  </header>
  <section class="about" id="about">
    <h2 class="heading">ABOUT ME</h2>
    <p class="about-text">
      大江山いく野の道の遠ければまだふみも見ず天橋立<br>
      見渡せば花も紅葉もなかりけり浦の苫屋の秋の夕暮れ
    </p>
    <p class="about-text">
      春は曙、やうやう白くなりゆく山際すこしあかりて、紫だちたる雲の細くたなびきたる。<br>
      夏は夜、月の頃はさらなり、闇もなほ螢飛びちがひたる、雨などの降るさへをかし。<br>
      秋は夕暮、夕日はなやかにさして、山の端いと近くなりたるに、烏のねどころへ行くとて、三つ四つ二つなど飛びゆくさへあはれなり。まいて雁などのつらねたるが、いとちひさく見ゆる、いとをかし。日入りはてて、風の音、蟲の音など、いとあはれなり。<br>
      冬はつとめて。雪の降りたるは、いふべきにもあらず。霜などのいと白きも、またさらでもいと寒きに、火など急ぎおこして、炭持てわたるも、いとつきづきし。昼になりて、ぬるくゆるびもていけば、炭櫃・火桶の火も、白き灰がちになりぬるはわろし。<br>
    </p>
  </section>
  <section class="works">
    <h2 class="heading">WORKS</h2>
    <div class="works-wrapper">
      <div class="work-box tree">
        <img class="work-image" src="static/images/singlepage_layout/tree.jpg" alt="制作事例1">
        <div class="work-description">
          <div class="work-description-inner">
            <p class="work-text">
              ひとつめの制作事例が入ります。<br>
              いろはにほへと<br>
              使用ツール: hogehoge, bar, foo<br>
              <a href="#" class="button button-ghost">READ MORE</a>
            </p>
          </div>
        </div>
      </div>
      <div class="work-box building">
        <img class="work-image" src="static/images/singlepage_layout/building.jpg" alt="制作事例2">
        <div class="work-description">
          <div class="work-description-inner">
            <p class="work-text">
              ふたつめの制作事例が入ります。<br>
              ちりぬるを<br>
              使用ツール: hogehoge, bar, foo<br>
              <a href="#" class="button button-ghost">READ MORE</a>
            </p>
          </div>
        </div>
      </div>
      <div class="work-box lake">
        <img class="work-image" src="static/images/singlepage_layout/lake.jpg" alt="制作事例3">
        <div class="work-description">
          <div class="work-description-inner">
            <p class="work-text">
              みっつめ制作事例が入ります。<br>
              わかよたれそ<br>
              使用ツール: hogehoge, bar, foo<br>
              <a href="#" class="button button-ghost">READ MORE</a>
            </p>
          </div>
        </div>
      </div>
      <div class="work-box sky">
        <img class="work-image" src="static/images/singlepage_layout/sky.jpg" alt="制作事例4">
        <div class="work-description">
          <div class="work-description-inner">
            <p class="work-text">
              よっつめの制作事例が入ります。<br>
              いろはにほへと ちりぬるを わかよたれそ つねならむ うゐのおくやま けふこえて あさきゆめみし ゑひもせすん<br>
              使用ツール: hogehoge, bar, foo<br>
              <a href="#" class="button button-ghost">READ MORE</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="skills"></section>
  <section class="contact" id="contact"></section>
  <footer class="footer"></footer>
</body>
</html>