<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>シングルページレイアウト</title>
  <link rel="stylesheet" href="/static/css/singlepage_layout/normalize.css">
  <link rel="stylesheet" href="/static/css/singlepage_layout/style.css?20180519">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
</head>
<body>
  <header class="header">
    <p class="site-title-sub">Web designer's portfolio</p>
    <h1 class="site-title">HI, MY NAME IS...</h1>
    <p class="site-description">Check out some of my works.</p>
    <div class="buttons">
      <a class="button" href="#about">LEARN MORE</a>
      <a class="button button-showy" href="#contact">SEND MESSAGE</a>
    </div>
  </header>
  <section class="about" id="about"></section>
  <section class="works"></section>
  <section class="skills"></section>
  <section class="contact" id="contact"></section>
  <footer class="footer"></footer>
</body>
</html>