@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
    font-size: 62.5%;
}
body {
    color: #333;
    font-size: 1.2rem;  /* rem: CSS3から。 root 要素の font-size を 1 とした倍率を指定する。 */
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
*, *::before, *::after {  /* `*`: 全称セレクタといい、すべての要素を表す。 */
    box-sizing: border-box;  /* padding と border を含めた要素全体のサイズを width と height で指定できるようになる。 */
}
/* リンクの下線を外す */
a:link, a:visited, a:hover, a:active {
    color: #b22222;
    text-decoration: none;
}

/* --------------------------------
 * parts
 * -------------------------------- */
/* 子要素分の高さを持たせる */
.clearfix::after {  /* 擬似要素 */
    content: '';
    display: block;
    clear: both;
}

/* H2タイトル */
.heading {
    padding: 10px 12px;
    letter-spacing: 1px;
    font-size: 1.6rem;
    border: solid 1px #2d3d54;
    /*
    background-color: #eaf4fc;
    background-color: #eaf4fc b22222 2d3d54;
    color: #FFFFFF;
    background: url("/static/images/bg-slash.gif");
    opacity: 0.5;
    box-shadow: 0 0 10px 1px #19448e;
    */
}
.hidden {
    display: none;
}

/* --------------------------------
 * header
 * -------------------------------- */
.header {
    width: 100%;
    padding: 0 0 10px;
    /* padding: 28px 0 10px; */
    /* background-color: #2d3d54; */
    /* background: url("/static/images/bg-header.gif") repeat-x; */
    box-shadow: 0 0 10px 1px #e3e3e3;
}

/* ロゴ */
.logo {
    width: 100%;
    height: 80px;
    background-color: #2d3d54;
    /* height: 56px; */
    /* margin: 0 auto;  /* 中央寄せ */
    /* background: url("/static/images/logo.png") no-repeat; */
    /* テキストを表示しない
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    */
}
.logo a {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 3.0rem;
}

/* グローバルナビゲーション */
.global-nav {
    margin-top: 15px;
    text-align: center;
}
.global-nav .nav-item {
    display: inline-block;  /* 横に並ぶようにする */
    margin: 0 10px;
}
.global-nav .nav-item a {
    display: inline-block;  /* 横に並ぶようにする */
    width: 100px;
    height: 30px;
    line-height: 30px;      /* テキストの縦方向の中央寄せ */
    text-align: center;
    border-radius: 8px;     /* ボックスの角を丸める */
    color: #b22222;
    font-size: 1.3rem;
    letter-spacing: 1px;    /* 文字の間隔を指定 */
    transition: 0.15s;      /* スタイルの変化にかかる時間を指定 */
}
.global-nav .nav-item.active a,  /* nav-item と active の両方のクラスがついた a */
.global-nav .nav-item a:hover {  /* `;hover` その要素にホバーしたとき */
    background-color: #b22222;
    color: #FFFFFF;
}

/* --------------------------------
 * wrapper
 * -------------------------------- */
.wrapper {
    width: 970px;
    margin: 30px auto 40px;
}

/* --------------------------------
 * main
 * -------------------------------- */
.main {
    display: block;
    float: left;  /* float プロパティを使用した要素は親要素の高さに影響を与えなくなってしまう */
    width: 660px;
}

/* 特集コンテンツ */
.hot-topic {
    display: block;  /* ブロックレベルの要素として扱えるようにする */
    height: 300px;
    margin-bottom: 30px;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15);  /* 透明度15% */
    transition: opacity 0.15s;  /* ふわっとさせる */
}
.hot-topic:hover {
    opacity: 0.85;  /* 不透明度を少し下げ透過させる。すこし光ったように見えるらしい。 */
}
.hot-topic .image {
    float: left;
    width: 50%;
    height: 100%;
}
.hot-topic .content {
    position: relative;  /* 親要素に `position: relative` を指定しておく */
    float: left;
    width: 50%;
    height: 100%;
    padding: 105px 25px 0;
    background-color: #2d3d54;
    line-height: 1.6;
}
.hot-topic .title {
    margin-bottom: 15px;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 2.0rem;
}
.hot-topic .desc {
    color: #ddc;
}
.hot-topic .date {
    position: absolute;  /* 表示位置を見出しの上部に移動 */
    top: 60px;
    left: 0;  /* `position: absolute` で配置する場合には親要素の padding の影響を受けないため、ぴったり左端に配置できる。 */
    width: 140px;
    padding: 4px;
    background-color: #FFFFFF;
    color: #2d3d54;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1;
}

/* 更新履歴リスト */
.scroll-list {
    max-height: 220px;      /* 中の要素が少ない場合にはその高さに合わせて親要素の高さも縮む */
    overflow-y: auto;       /* はみ出た領域を縦方向にスクロールして見ることができる */
    margin-bottom: 30px;
    list-style-type: none;  /* デフォルトで表示されるリストマークを消す */
}
.scroll-list .scroll-item a {
    display: block;     /* リスト項目全体をリンク領域にする */
    padding: 10px 15px;
    color: #333333;
    font-size: 0;       /* 改行 => 半角スペースのサイズを 0 にする */
    transition: background-color 0.1s;
}
.scroll-list .scroll-item:nth-of-type(even) a {         /* 要素名:nth-of-type(n) で「同じ階層の n 番目の要素」 */
    background-color: #eaf4fc;  /* 偶数行のリスト項目に色付き */
    /* background: url("/static/images/bg-slash.gif");  偶数行のリスト項目にストライプの背景 */
}
.scroll-list .scroll-item a:hover {
    background-color: #89c3eb;
}
.scroll-list .date {
    display: inline-block;  /* 横並び */
    width: 19%;             /* スクロールバーが表示されてリストの横幅が変わっても横並びを維持できるよう、親要素に対する割合で指定 */
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.0rem;      /* 親要素で `font-size: 0` を指定したので font-size を指定し直す */
}
.scroll-list .category {
    display: inline-block;
    width: 11%;
    border-radius: 5px;
    background-color: #d03c56;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.0rem;
    line-height: 16px;
}
.scroll-list .category.news {
    background-color: #2c3c53;
}
.scroll-list .title {
    display: inline-block;
    width: 70%;
    padding-left: 15px;
    font-size: 1.2rem;
    /* この3つはセットで覚える */
    overflow: hidden;           /* 親要素をはみ出た部分を非表示にする */
    text-overflow: ellipsis;    /* 表示領域からはみ出て見えなくなるテキストの境目の表示方法を指定(...) */
    white-space: nowrap;        /* 親要素をはみ出た部分を折り返し禁止 */
}

/* 記事の箱 */
.article-box {
    position: relative;
    display: block;  /* a要素なので `display: block` を指定してから幅を指定する*/
    width: 315px;
    height: 360px;
    margin-bottom: 30px;
    padding: 210px 15px 0;
    box-shadow: 6px 6px 8px -4px rgba(0, 0, 0, 0.15);
    transition: opacity 0.15s;
}
.article-box:hover {
    opacity: 0.8;
}
.article-box:nth-of-type(odd) {     /* 偶数個目の記事 */
    float: left;
}
.article-box:nth-of-type(even) {    /* 奇数個目の記事 */
    float: right;
}
.article-box .title {
    margin-top: 30px;
    color: #555555;
    font-size: 1.4rem;
    line-height: 1.6;
}
.article-box .desc {
    margin-top: 5px;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.article-box .date {
    position: absolute;
    right: 0;
    bottom: 15px;
    display: block;
    width: 160px;
    padding: 4px;
    background-color: #b22222;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.1rem;
}
.article-box .image {
    position: absolute;  /* 左上に寄せる */
    top: 0;
    left: 0;
    width: 100%;
}

/* --------------------------------
 * sidemenu
 * -------------------------------- */
.sidemenu {
    float: right;
    width: 275px;
}

/* ランキング */
.ranking {
    margin-bottom: 30px;
    list-style-type: none;  /* デフォルトで表示されるリスト番号を消す */
    counter-reset: ranking;  /* css カウンタの初期化 */
}
.ranking .ranking-item {
    margin-top: 15px;
}
.ranking .ranking-item a {
    display: block;
    font-size: 0;                /* 中身に隙間が空かないように */
    transition:  opacity 0.15s;  /* ホバーしたときのエフェクト */
}
.ranking .ranking-item a:hover {
    opacity: 0.8;  /* ホバーしたときのエフェクト */
}
.ranking .image {
    width: 55px;
    height: 55px;
}
.ranking .text {
    display: inline-block;
    width: 182px;
    color: #000000;
    vertical-align: top;  /* 縦方向の並びを上揃え */
    font-size: 1.2rem;
    line-height: 1.5;
}
/* ランキングのひし形 */
.ranking .order {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 10px;
    border: 1px solid #CCCCCC;
    color: #aaaaaa;
    vertical-align: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 16px;
    -webkit-transform: rotate(45deg);  /* 四角形を傾けて菱形にするし */
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    /* https://caniuse.com ベンダープレフィックス調べるのに便利 */
}
/* ランキング順位1, 2, 3位の分 */
.ranking .ranking-item:nth-of-type(1) .order,
.ranking .ranking-item:nth-of-type(2) .order,
.ranking .ranking-item:nth-of-type(3) .order {
    border: none;
    color: #FFFFFF;
    font-weight: normal;
    line-height: 18px;  /* 1, 2, 3位は枠線ないので、サイズいっぱい */
}
.ranking .ranking-item:nth-of-type(1) .order {
    background-color: #dab413;
}
.ranking .ranking-item:nth-of-type(2) .order {
    background-color: #6e7b84;
}
.ranking .ranking-item:nth-of-type(3) .order {
    background-color: #a0541a;
}
/* ランキング順位の数字 */
.ranking .order::before {
    content: counter(ranking);  /* ランキング順位の数字を表示する */
    counter-increment: ranking;  /* 順位を1ずつインクリメント */
    display: inline-block;      /* transform プロパティは display が inline の要素にはかけられないため */
    font-size: 1.0rem;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);  /* 中の数字をまっすぐにする */
}

/* ドキュメントリスト */
.documents {
    margin: 10px 10px 30px;
}
.documents,
.documents ul {
    list-style-type: none;
}
.documents > li .title {  /* `>`:子セレクタ。documents 直下の第1階層目のliのみを指定できる。 */
    margin: 15px 0;
    padding-left: 8px;
    border-left: 5px solid #b22222;
    font-size: 1.4rem;
    line-height: 1.2;
}
.documents > li + li {  /* `+`:隣接セレクタ。ある要素と隣接して直後に続く要素を表す。 */
    margin-top: 25px;
}
.documents > li ul {
    margin: 15px;
}
.documents > li ul >li {
    margin-bottom: 15px;
    padding-left: 10px;
    /* background: url("/static/images/labrador.png") no-repeat left center; */
}
.documents > li ul >li > img{
    width: 7px;
    height: 7px;
}
.documents a:hover {
    text-decoration: underline;
}

/* 検索フォーム */
.search-box {
    padding: 15px;
    background-color: #CCCCCC;
    font-size: 0;  /* display プロパティの初期値が inline-block である input 要素間の空白を消すため */
}
.search-box > * {  /* ↑で 0 にした font-size を戻す */
    font-size: 1.2rem;
}
.search-box .search-input {
    width: 205px;
    height: 26px;  /* 高さを合わせる */
    padding: 0 10px;
    border: none;
}
.search-box .search-button {
    width: 40px;
    height: 26px;  /* 高さを合わせる */
    border: none;
    background-color: #b22222;
    color: #FFFFFF;
    cursor: pointer;  /* マウスポインタが要素に重なった時の形を指定する */
}
.search-box .text {
    margin-top: 12px;
}

/* --------------------------------
 * footer
 * -------------------------------- */
.footer {
    width: 100%;
    padding: 20px 0 30px;
    background: #2d3d54 /*url("/static/images/bg-footer.gif")*/;
    color: #FFFFFF;
}

/* フッターメニュー */
.horizontal-list {
    width: 970px;       /* wrapper と同じ幅にする */
    margin: 0 auto;     /* footer の中央に寄せる */
    text-align: right;  /* リストの項目を右寄せ */
    font-size: 0;       /* 改行による隙間をなくす */
}
.horizontal-list .horizontal-item {
    display: inline-block;  /* 横並びにする */
    padding: 0 15px;
    letter-spacing: 1px;
}
.horizontal-list .horizontal-item + .horizontal-item {
    border-left: 1px solid #bbbbbb;    /* horizontal-item の直後に置かれた horizontal-item に対して線 */
}
.horizontal-list .horizontal-item a {
    border-bottom: 1px dashed #777777;  /* リンクの下線をステッチみたいにする */
    color: #bbbbbb;
    font-size: 1.1rem;
    transition: color 0.15s;  /* 色がなめらかに変化するよう指定 */
}
.horizontal-list .horizontal-item a:hover {
    color: #DDDDDD;
}

/* コピーライト */
.copyright {
    margin-top: 30px;
    text-align: center;
    letter-spacing: 1px;
}
