@charset "UTF-8"
@import "./reset.css"

/* --------------------------------
 * base
 * -------------------------------- */
sp-width = 768px

html {
  font-size: 62.5%;
}
body
  padding 30px
  background-color #FFE4E1
  color #333333
  font-size 1.2rem
  font-family Griffy, "Sawarabi Mincho", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif

  @media (max-width: sp-width)
    padding 15px


/*f0f8ff eaf4fc
  - 擬似要素を存在させるには、 CSS で擬似要素の中身を指定する content プロパティの指定。P.103を見よ。
  - ::before, ::after 擬似要素の display プロパティの初期値は inline なので、デフォルトではインラインレベルの要素として表示される。
  - 高さや幅を指定したい場合には、 display プロパティに block や inline-block の指定が必要。
 */
*, *::before, *::after {  /* `*`: 全称セレクタといい、すべての要素を表す。 */
  box-sizing: border-box;  /* padding と border を含めた要素全体のサイズを width と height で指定できるようになる。 */
}
a:link, a:visited, a:hover, a:active {
  color: #777777;
  text-decoration: none;
}

/* --------------------------------
 * flexbox
 * -------------------------------- */
.container
  display flex
  flex-flow row nowrap

  @media (max-width: sp-width)
    flex-direction column

.header
  flex-grow 0

  @media (max-width: sp-width)
    order 1

.main
  flex-grow 1
  min-width 0

/* --------------------------------
 * item base
 * -------------------------------- */
.item
  width 180px
  margin-bottom 4px  /* ボックス間の隙間 */
  padding 8px        /* ボックス内の余白 */
  border-bottom 3px solid
  border-radius 5px
  background-color #FFFFFF

  @media (max-width: sp-width)
    width 100%
    position: static !important;

/* --------------------------------
 * header
 * -------------------------------- */
color-header = #752100

.item-header
  text-align center
  border-color color-header

.logo {
  width: 100%;
  height: 100%
  border-radius: 50%;     /* 丸型にする */
  transition: transform 0.3s;  /* 回っていることがわかるように、0.3秒かけて変化させる */
}
/* ロゴ画像をホバーすると1回転する */
.logo:hover {
  transform: rotate(360deg);  /* 360度回転 */
}
.nav {
  margin: 35px auto 10px;  /* nav の上部に間隔をあける */
}
.nav-category
  margin-top 20px   /* リスト項目の間を20pxずつあける。一番上の項目はマージンが相殺されるので空き過ぎないとのこと。 */
  /* ブロックレベル要素のマージンは相殺される
   * - 隣接した要素の上下のマージン（マージンの値が異なる場合は大きほうになる）
   * - 入れ子になった要素の上下のマージン
   */
  text-align center
  letter-spacing 1px
  font-weight bold
  font-size 2.0rem

  /* リンクをホバーしたときに、下線が中央から両側に伸びて表示されるような動きをつける。 */
  a
    display: inline-block  /* a要素の幅をリンクテキストと同じに保ちつつ子要素の%指定を有効にする。 */
    color: color-header

  a::after
    content ''
    display block         /* ブロックレベルの::after擬似要素を作る */
    width 0               /* 通常時には見えないように横幅を 0 にする */
    margin 6px auto 0     /* リンクテキストとの間隔をあける。左右に auto を指定して中央寄せにする */
    border-bottom 1px solid color-header
    transition width 0.3s ease-in-out
    /* ホバーしたときに横幅の変化がアニメーションするよう、 transition プロパティに width を指定。 */
    /* ease-in-out: タイミング関数のキーワード。線が伸びる始まりと終わりで伸びる速度を緩めることができる。 */

  a:hover::after
    width 100%     /* リンクにホバーしたときの ::after 擬似要素の横幅を指定 */

.nav-article
  margin-top 5px
  font-weight normal
  font-size 1.2rem

  a::after
    margin 3px auto 0

/* --------------------------------
 * category colors
 * -------------------------------- */
.item-sample,
.item-sample .title::before {
  border-color: #e2b2c0;
}
.item-aws,
.item-aws .title::before {
    border-color: #fff353;
}
.item-django,
.item-django .title::before {
  border-color: #a5d1f4;
}
.item-git,
.item-git .title::before {
  border-color: #e4ad6d;
}
.item-github,
.item-github .title::before {
  border-color: #d685b0;
}
.item-css,
.item-css .title::before {
  border-color: #dbe159;
}
.item-html,
.item-html .title::before {
  border-color: #7fc2ef;
}
.item-mac,
.item-mac .title::before {
  border-color: #c4a6ca;
}
.item-miyadaiku,
.item-miyadaiku .title::before {
    border-color: #eabf4c;
}
.item-book,
.item-book .title::before {
  border-color: #f9e697;
}
.item-redshift,
.item-redshift .title::before {
  border-color: #b3d3ac;
}
.item-ssh,
.item-ssh .title::before {
  border-color: #eac7cd;
}
.item-vagrant,
.item-vagrant .title::before {
  border-color: #f8e469;
}
.item-vim,
.item-vim .title::before {
  border-color: #e7e0aa;
}
.item-pycharm,
.item-pycharm .title::before {
  border-color: #d9de84;
}
.item-sql,
.item-sql .title::before {
  border-color: #e4bd60;
}
.item-python,
.item-python .title::before {
  border-color: #9ac29f;
}
.item-blog,
.item-blog .title::before {
  border-color: #e3be87;
}
.item-docker,
.item-docker .title::before {
  border-color: #edef9c;
}
.item-test,
.item-test .title::before {
  border-color: #dd9b9d;
}
.item-sqlalchemy,
.item-sqlalchemy .title::before {
  border-color: #f5dfa6;
}
  .item-mysql,
.item-mysql .title::before {
  border-color: #ebeddf;
}

/* 色は、16.癒しを感じる柔らかなイメージから選び中
http://www.hp-stylelink.com/news/2013/07/20130708.php
*/

/* --------------------------------
 * index page only
 * -------------------------------- */
.index-content
  @import "./index.styl"
/* --------------------------------
 * article page only
 * -------------------------------- */
.article-content
  @import "./article.styl"
  @import "./monokai.styl"
